.icon-ripple {
  background: url('chrome-extension://anljgkdcmifbpbghbdeengolainjnhdh/icons/coin_xrp_128.png') no-repeat center center;
  background-size: 32px;
  width: 32px;
  height:32px;
  display: block;
}
.account-balance span {
  cursor: pointer;
}